name: Nightly Acceptance Tests

on:
  schedule:
    - cron: '0 5 * * *'

permissions:
  contents: read


jobs:
  test-acceptance:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      LAKEKEEPER_ENDPOINT: http://localhost:8181
      LAKEKEEPER_AUTH_URL: http://localhost:30080/realms/iceberg/protocol/openid-connect/token
      LAKEKEEPER_CLIENT_ID: lakekeeper-admin
      LAKEKEEPER_CLIENT_SECRET: KNjaj1saNq5yRidVEMdf1vI09Hm0pQaL
      LAKEKEEPER_VERSION: latest-main
      TF_ACC: 1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4.0.0
        with:
          terraform_version: 1.9.8
          terraform_wrapper: false
      - run: go mod download
      - name: Starting Lakekeeper instance (and third parties)
        run: make testacc-up
      - run: |
          echo "Waiting for Lakekeeper to be healthy"
          ./scripts/await-healthy.sh
      - run: make testacc
        timeout-minutes: 10
