name: Nightly Acceptance Tests

on:
  schedule:
    - cron: '0 5 * * *'

permissions:
  contents: read


jobs:
  test-acceptance:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      LAKEKEEPER_ENDPOINT: http://localhost:8181
      LAKEKEEPER_AUTH_URL: http://localhost:30080/realms/iceberg/protocol/openid-connect/token
      LAKEKEEPER_CLIENT_ID: lakekeeper-admin
      LAKEKEEPER_CLIENT_SECRET: KNjaj1saNq5yRidVEMdf1vI09Hm0pQaL
      LAKEKEEPER_VERSION: latest-main
      TF_ACC: 1
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.9.8
          terraform_wrapper: false
      - run: go mod download
      - name: Starting Lakekeeper instance (and third parties)
        run: make testacc-up
      - run: |
          echo "Waiting for Lakekeeper to be healthy"
          ./scripts/await-healthy.sh
      - run: make testacc
        timeout-minutes: 10
